body{
    background: #eee;
}
a{
    color: black;
}
.logo{
    width: 400px;
}
.header-wrapper, .nav-ul{
    display: flex;
}
.header-wrapper{
    margin-top: 20px;
    justify-content: space-between;
}
.nav-li{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-right: 80px;
    margin-top: 10px;
}
.email-adress{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
.email-h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 25px;
}
.form{
    text-align: center;
}
.email{
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
.btn{
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}
.email-adress input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#features{
    margin-top: 30px;
}